<style>
    body {
        background: white }
    section {
        background: white;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        align-items: center;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
  </style>
  <section>
      <br> <br> <br> <br> <br> <br> <br> <br> 
        
    <table class="table table-trapped">
        <thead>
        <tr>
            <th>Nazwa użytkownika:</th>
            <th>Kieszonkowe:</th>
            <th>Płeć:</th>
            <th>Zamieszkanie z rodzicami:</th>
            <th>Opis:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stat of stats">
            <td>{{stat.user}}</td>
            <td>{{stat.pocketMoney}}</td>
            <td>{{stat.sex}}</td>
            <td>{{stat.isLivingWithParents}}</td>
            <td>{{stat.description}}</td>
        </tr>

    </tbody>
    </table>
    