<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
        <div class="form-group">
            <label>username</label>
            <input type="text" class="form-control" formControlName="username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label>name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter name" required>
        </div>
        <div class="form-group">
            <label>surname</label>
            <input type="text" class="form-control" formControlName="surname" placeholder="Enter surname" required>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Sign up</button>
    </form>
</div>